In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
from copy import deepcopy

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
base_url = 'https://www.payscale.com/cost-of-living-calculator/'

In [4]:
city_list = ['Illinois-Chicago', 'Ohio-Cincinnati','Ohio-Cleveland', 'Michigan-Detroit', 'Missouri-Kansas-City', \
             'Wisconsin-Milwaukee', 'Minnesota-Minneapolis', 'Missouri-St.-Louis']
count = 0
pages = []
for page in city_list:
    page_url = f"{base_url}{city_list[count]}"
    count = count + 1
    pages.append(page_url)
    print(page_url)

https://www.payscale.com/cost-of-living-calculator/Illinois-Chicago
https://www.payscale.com/cost-of-living-calculator/Ohio-Cincinnati
https://www.payscale.com/cost-of-living-calculator/Ohio-Cleveland
https://www.payscale.com/cost-of-living-calculator/Michigan-Detroit
https://www.payscale.com/cost-of-living-calculator/Missouri-Kansas-City
https://www.payscale.com/cost-of-living-calculator/Wisconsin-Milwaukee
https://www.payscale.com/cost-of-living-calculator/Minnesota-Minneapolis
https://www.payscale.com/cost-of-living-calculator/Missouri-St.-Louis

In [5]:
some_list = ['Median Home Price','Median Rent','Energy Bill','Phone Bill','Gas','Loaf of Bread', \
             'Gallon of Milk','Carton of Eggs','Bunch of Bananas','Hamburger',"Doctor's Visit",\
             'Dentist Visit','Optometrist Visit','Rx Drug','Veterinary Visit']

In [6]:
count = 0
final_df = pd.DataFrame()
for page in pages:
    browser.visit(page)
    city_html = browser.html
    page_soup = bs(city_html, 'html.parser')
    values = []
    for info in page_soup.find_all('div', class_='itemized__item-container'): 
        for v in info.find_all('div', class_='itemized__item-value'):
            value = v.text
            values.append(deepcopy(value))
        
    test_df = pd.DataFrame([{some_list[x]:values[x] for x in range(len(some_list))}]) 
    final_df = final_df.append(deepcopy(test_df))

In [7]:
df = pd.DataFrame(final_df)
df['STATES'] = city_list

In [8]:
Mid_west_data = df.set_index('STATES')
Mid_west_data

,Bunch of Bananas,Carton of Eggs,Dentist Visit,Doctor's Visit,Energy Bill,Gallon of Milk,Gas,Hamburger,Loaf of Bread,Median Home Price,Median Rent,Optometrist Visit,Phone Bill,Rx Drug,Veterinary Visit
STATES,,,,,,,,,,,,,,,
Illinois-Chicago,$3.64,$1.96,$96.35,$112.15,$151.23 / month,$2.10,$3.30 / gallon,$4.59,$3.60,"$539,932","$1,691 / month",$105.09,$161.21 / month,$446.73,$59.09
Ohio-Cincinnati,$3.07,$1.65,$93.59,$108.94,$159.95 / month,$1.77,$2.63 / gallon,$3.87,$3.04,"$264,414",$828.29 / month,$102.08,$170.50 / month,$433.94,$52.45
Ohio-Cleveland,$3.74,$2.01,$96.25,$112.04,$175.54 / month,$2.16,$2.68 / gallon,$4.71,$3.70,"$306,401",$959.82 / month,$104.98,$187.12 / month,$446.29,$54.56
Michigan-Detroit,$3.05,$1.64,$89.59,$104.29,$171.18 / month,$1.76,$2.82 / gallon,$3.85,$3.02,"$326,527","$1,023 / month",$97.72,$182.47 / month,$415.42,$50.03
Missouri-Kansas-City,$3.37,$1.81,$94.06,$109.49,$180.74 / month,$1.94,$2.57 / gallon,$4.25,$3.34,"$319,587","$1,001 / month",$102.60,$192.66 / month,$436.15,$53.48
Wisconsin-Milwaukee,$3.29,$1.77,$107.85,$125.55,$179.73 / month,$1.90,$2.49 / gallon,$4.15,$3.26,"$325,833","$1,021 / month",$117.64,$191.59 / month,$500.09,$48.74
Minnesota-Minneapolis,$3.58,$1.93,$99.39,$115.69,$152.74 / month,$2.07,$2.82 / gallon,$4.52,$3.55,"$363,656","$1,139 / month",$108.41,$162.81 / month,$460.85,$55.07
Missouri-St.-Louis,$3.51,$1.89,$97.11,$113.03,$192.31 / month,$2.03,$2.62 / gallon,$4.43,$3.48,"$252,269",$790.25 / month,$105.92,$204.99 / month,$450.26,$49.98

In [9]:
for x in Mid_west_data:
    Mid_west_data[x] = Mid_west_data[x].str.replace("$","")
    Mid_west_data[x] = Mid_west_data[x].str.replace("month","")
    Mid_west_data[x] = Mid_west_data[x].str.replace("/","")
    Mid_west_data[x] = Mid_west_data[x].str.replace("gallon","")
    Mid_west_data[x] = Mid_west_data[x].str.replace(",","")
    Mid_west_data[x] = pd.to_numeric(Mid_west_data[x])
Mid_west_data.head()

,Bunch of Bananas,Carton of Eggs,Dentist Visit,Doctor's Visit,Energy Bill,Gallon of Milk,Gas,Hamburger,Loaf of Bread,Median Home Price,Median Rent,Optometrist Visit,Phone Bill,Rx Drug,Veterinary Visit
STATES,,,,,,,,,,,,,,,
Illinois-Chicago,3.64,1.96,96.35,112.15,151.23,2.10,3.30,4.59,3.60,539932,1691.00,105.09,161.21,446.73,59.09
Ohio-Cincinnati,3.07,1.65,93.59,108.94,159.95,1.77,2.63,3.87,3.04,264414,828.29,102.08,170.50,433.94,52.45
Ohio-Cleveland,3.74,2.01,96.25,112.04,175.54,2.16,2.68,4.71,3.70,306401,959.82,104.98,187.12,446.29,54.56
Michigan-Detroit,3.05,1.64,89.59,104.29,171.18,1.76,2.82,3.85,3.02,326527,1023.00,97.72,182.47,415.42,50.03
Missouri-Kansas-City,3.37,1.81,94.06,109.49,180.74,1.94,2.57,4.25,3.34,319587,1001.00,102.60,192.66,436.15,53.48

In [10]:
Mid_west_data['HLTH & WELL'] = Mid_west_data['Dentist Visit'] + Mid_west_data["Doctor's Visit"] + Mid_west_data["Optometrist Visit"] + Mid_west_data["Rx Drug"]
Mid_west_data['EAT-IN'] = Mid_west_data['Bunch of Bananas'] + Mid_west_data['Carton of Eggs'] + Mid_west_data['Gallon of Milk'] + Mid_west_data['Loaf of Bread'] + Mid_west_data['Hamburger']
Mid_west_data = Mid_west_data.drop(['Bunch of Bananas', 'Carton of Eggs', 'Dentist Visit', "Doctor's Visit", 'Gallon of Milk', "Hamburger", "Loaf of Bread", "Optometrist Visit", "Rx Drug"], axis=1)
Mid_west_data

,Energy Bill,Gas,Median Home Price,Median Rent,Phone Bill,Veterinary Visit,HLTH & WELL,EAT-IN
STATES,,,,,,,,
Illinois-Chicago,151.23,3.30,539932,1691.00,161.21,59.09,760.32,15.89
Ohio-Cincinnati,159.95,2.63,264414,828.29,170.50,52.45,738.55,13.40
Ohio-Cleveland,175.54,2.68,306401,959.82,187.12,54.56,759.56,16.32
Michigan-Detroit,171.18,2.82,326527,1023.00,182.47,50.03,707.02,13.32
Missouri-Kansas-City,180.74,2.57,319587,1001.00,192.66,53.48,742.30,14.71
Wisconsin-Milwaukee,179.73,2.49,325833,1021.00,191.59,48.74,851.13,14.37
Minnesota-Minneapolis,152.74,2.82,363656,1139.00,162.81,55.07,784.34,15.65
Missouri-St.-Louis,192.31,2.62,252269,790.25,204.99,49.98,766.32,15.34

In [11]:
Mid_west_data.columns = ['ELECTRICITY', 'GAS','MORTGAGE','RENT','PHONE', 'VET', 'HLTH & WELL','EAT-IN']
Mid_west_data

,ELECTRICITY,GAS,MORTGAGE,RENT,PHONE,VET,HLTH & WELL,EAT-IN
STATES,,,,,,,,
Illinois-Chicago,151.23,3.30,539932,1691.00,161.21,59.09,760.32,15.89
Ohio-Cincinnati,159.95,2.63,264414,828.29,170.50,52.45,738.55,13.40
Ohio-Cleveland,175.54,2.68,306401,959.82,187.12,54.56,759.56,16.32
Michigan-Detroit,171.18,2.82,326527,1023.00,182.47,50.03,707.02,13.32
Missouri-Kansas-City,180.74,2.57,319587,1001.00,192.66,53.48,742.30,14.71
Wisconsin-Milwaukee,179.73,2.49,325833,1021.00,191.59,48.74,851.13,14.37
Minnesota-Minneapolis,152.74,2.82,363656,1139.00,162.81,55.07,784.34,15.65
Missouri-St.-Louis,192.31,2.62,252269,790.25,204.99,49.98,766.32,15.34

In [12]:
Region = "Mid-West"
Mid_west_data['REGION'] = [Region for _ in range(len(Mid_west_data))] 
Mid_west_data

,ELECTRICITY,GAS,MORTGAGE,RENT,PHONE,VET,HLTH & WELL,EAT-IN,REGION
STATES,,,,,,,,,
Illinois-Chicago,151.23,3.30,539932,1691.00,161.21,59.09,760.32,15.89,Mid-West
Ohio-Cincinnati,159.95,2.63,264414,828.29,170.50,52.45,738.55,13.40,Mid-West
Ohio-Cleveland,175.54,2.68,306401,959.82,187.12,54.56,759.56,16.32,Mid-West
Michigan-Detroit,171.18,2.82,326527,1023.00,182.47,50.03,707.02,13.32,Mid-West
Missouri-Kansas-City,180.74,2.57,319587,1001.00,192.66,53.48,742.30,14.71,Mid-West
Wisconsin-Milwaukee,179.73,2.49,325833,1021.00,191.59,48.74,851.13,14.37,Mid-West
Minnesota-Minneapolis,152.74,2.82,363656,1139.00,162.81,55.07,784.34,15.65,Mid-West
Missouri-St.-Louis,192.31,2.62,252269,790.25,204.99,49.98,766.32,15.34,Mid-West

In [13]:
Mid_west_data = Mid_west_data[['MORTGAGE', 'RENT', 'ELECTRICITY','GAS', 'EAT-IN','PHONE','HLTH & WELL', 'VET', 'REGION']]
Mid_west_data.reset_index()

,STATES,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,REGION
0,Illinois-Chicago,539932,1691.00,151.23,3.30,15.89,161.21,760.32,59.09,Mid-West
1,Ohio-Cincinnati,264414,828.29,159.95,2.63,13.40,170.50,738.55,52.45,Mid-West
2,Ohio-Cleveland,306401,959.82,175.54,2.68,16.32,187.12,759.56,54.56,Mid-West
3,Michigan-Detroit,326527,1023.00,171.18,2.82,13.32,182.47,707.02,50.03,Mid-West
4,Missouri-Kansas-City,319587,1001.00,180.74,2.57,14.71,192.66,742.30,53.48,Mid-West
5,Wisconsin-Milwaukee,325833,1021.00,179.73,2.49,14.37,191.59,851.13,48.74,Mid-West
6,Minnesota-Minneapolis,363656,1139.00,152.74,2.82,15.65,162.81,784.34,55.07,Mid-West
7,Missouri-St.-Louis,252269,790.25,192.31,2.62,15.34,204.99,766.32,49.98,Mid-West

In [14]:
southern_csv = "southern.csv"
southern_df = pd.read_csv(southern_csv, encoding="ISO-8859-1")
southern_df.set_index('STATES')
southern_df.reset_index()

,index,STATES,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,REGION
0,0,Georgia-Atlanta,327568,1026.00,143.01,2.64,13.53,152.45,806.85,52.50,Southern
1,1,Texas-Austin,353246,1107.00,147.04,2.44,11.29,156.74,746.06,51.88,Southern
2,2,North-Carolina-Charlotte,296685,929.39,153.91,2.53,12.07,164.06,773.83,52.34,Southern
3,3,Texas-Dallas,364003,1140.00,174.87,2.59,12.21,186.40,759.56,52.65,Southern
4,4,Texas-Houston,363656,1139.00,185.43,2.54,11.17,197.66,684.51,48.64,Southern
5,5,Florida-Miami,498986,1563.00,165.31,2.93,13.56,176.22,728.05,52.19,Southern
6,6,Tennessee-Nashville,316117,990.26,150.73,2.62,12.48,160.67,613.21,53.37,Southern
7,7,Florida-Orlando,308483,966.34,186.44,2.45,13.14,198.74,662.00,48.69,Southern
8,8,North-Carolina-Raleigh,241512,756.55,161.62,2.39,14.57,172.29,772.33,54.82,Southern
9,9,Florida-Tampa,266843,835.90,194.99,2.77,12.87,207.85,737.80,49.93,Southern
10,10,District-of-Columbia-Washington,859866,2694.00,162.13,2.73,14.15,172.82,724.30,50.44,Southern