In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
from copy import deepcopy

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
base_url = 'https://www.payscale.com/cost-of-living-calculator/'

In [4]:
city_list = ['Massachusetts-Boston', 'New-York-New-York', 'Pennsylvania-Pittsburgh', 'Pennsylvania-Philadelphia', 'Maryland-Baltimore']
count = 0
pages = []
for page in city_list:
    page_url = f"{base_url}{page}"
    pages.append(page_url)
    print(page_url)

https://www.payscale.com/cost-of-living-calculator/Massachusetts-Boston
https://www.payscale.com/cost-of-living-calculator/New-York-New-York
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Pittsburgh
https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Philadelphia
https://www.payscale.com/cost-of-living-calculator/Maryland-Baltimore

In [5]:
some_list = ['Median Home Price','Median Rent','Energy Bill','Phone Bill','Gas','Loaf of Bread', \
             'Gallon of Milk','Carton of Eggs','Bunch of Bananas','Hamburger',"Doctor's Visit",\
             'Dentist Visit','Optometrist Visit','Rx Drug','Veterinary Visit']

In [6]:
count = 0
final_df = pd.DataFrame()
for page in pages:
    browser.visit(page)
    city_html = browser.html
    page_soup = bs(city_html, 'html.parser')
    values = []
    for info in page_soup.find_all('div', class_='itemized__item-container'): 
        
        for v in info.find_all('div', class_='itemized__item-value'):
            value = v.text
            values.append(deepcopy(value))
        
    test_df = pd.DataFrame([{some_list[x]:values[x] for x in range(len(some_list))}]) 
    print(f"Results from page {page}: {test_df.head()}")
    final_df = final_df.append(deepcopy(test_df))

Results from page https://www.payscale.com/cost-of-living-calculator/Massachusetts-Boston:   Bunch of Bananas Carton of Eggs Dentist Visit Doctor's Visit  \
0            $3.55          $1.91       $128.59        $149.68

        Energy Bill Gallon of Milk              Gas Hamburger Loaf of Bread  \
0  $236.57 / month           $2.05  $2.89 / gallon      $4.49         $3.52

  Median Home Price      Median Rent Optometrist Visit        Phone Bill  \
0          $717,943  $2,249 / month            $140.26  $252.17 / month

   Rx Drug Veterinary Visit
0  $596.23           $66.81
Results from page https://www.payscale.com/cost-of-living-calculator/New-York-New-York:   Bunch of Bananas Carton of Eggs Dentist Visit Doctor's Visit  \
0            $4.30          $2.32       $109.38        $127.32

        Energy Bill Gallon of Milk              Gas Hamburger Loaf of Bread  \
0  $210.08 / month           $2.49  $3.47 / gallon      $5.43         $4.27

  Median Home Price      Median Rent Optometrist Visit        Phone Bill  \
0        $1,628,124  $5,100 / month            $119.30  $223.94 / month

   Rx Drug Veterinary Visit
0  $507.15           $76.07
Results from page https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Pittsburgh:   Bunch of Bananas Carton of Eggs Dentist Visit Doctor's Visit  \
0            $3.71          $2.00        $89.21        $103.85

        Energy Bill Gallon of Milk              Gas Hamburger Loaf of Bread  \
0  $184.43 / month           $2.14  $2.78 / gallon      $4.68         $3.68

  Median Home Price       Median Rent Optometrist Visit        Phone Bill  \
0          $317,505  $994.61 / month             $97.31  $196.59 / month

   Rx Drug Veterinary Visit
0  $413.66           $50.13
Results from page https://www.payscale.com/cost-of-living-calculator/Pennsylvania-Philadelphia:   Bunch of Bananas Carton of Eggs Dentist Visit Doctor's Visit  \
0            $3.90          $2.10       $100.53        $117.02

        Energy Bill Gallon of Milk              Gas Hamburger Loaf of Bread  \
0  $208.74 / month           $2.25  $3.00 / gallon      $4.93         $3.87

  Median Home Price      Median Rent Optometrist Visit        Phone Bill  \
0          $449,365  $1,408 / month            $109.65  $222.51 / month

   Rx Drug Veterinary Visit
0  $466.14           $55.18
Results from page https://www.payscale.com/cost-of-living-calculator/Maryland-Baltimore:   Bunch of Bananas Carton of Eggs Dentist Visit Doctor's Visit  \
0            $3.60          $1.94        $87.12        $101.41

        Energy Bill Gallon of Milk              Gas Hamburger Loaf of Bread  \
0  $179.56 / month           $2.08  $2.69 / gallon      $4.55         $3.57

  Median Home Price      Median Rent Optometrist Visit        Phone Bill  \
0          $509,743  $1,597 / month             $95.03  $191.41 / month

   Rx Drug Veterinary Visit
0  $403.96           $54.40

In [7]:
final_df.reset_index(drop=True)

,Bunch of Bananas,Carton of Eggs,Dentist Visit,Doctor's Visit,Energy Bill,Gallon of Milk,Gas,Hamburger,Loaf of Bread,Median Home Price,Median Rent,Optometrist Visit,Phone Bill,Rx Drug,Veterinary Visit
0,$3.55,$1.91,$128.59,$149.68,$236.57 / month,$2.05,$2.89 / gallon,$4.49,$3.52,"$717,943","$2,249 / month",$140.26,$252.17 / month,$596.23,$66.81
1,$4.30,$2.32,$109.38,$127.32,$210.08 / month,$2.49,$3.47 / gallon,$5.43,$4.27,"$1,628,124","$5,100 / month",$119.30,$223.94 / month,$507.15,$76.07
2,$3.71,$2.00,$89.21,$103.85,$184.43 / month,$2.14,$2.78 / gallon,$4.68,$3.68,"$317,505",$994.61 / month,$97.31,$196.59 / month,$413.66,$50.13
3,$3.90,$2.10,$100.53,$117.02,$208.74 / month,$2.25,$3.00 / gallon,$4.93,$3.87,"$449,365","$1,408 / month",$109.65,$222.51 / month,$466.14,$55.18
4,$3.60,$1.94,$87.12,$101.41,$179.56 / month,$2.08,$2.69 / gallon,$4.55,$3.57,"$509,743","$1,597 / month",$95.03,$191.41 / month,$403.96,$54.40

In [8]:
last_df = pd.DataFrame(final_df)
last_df['STATES']= city_list
Northeast_data = last_df.set_index('STATES')
Northeast_data

,Bunch of Bananas,Carton of Eggs,Dentist Visit,Doctor's Visit,Energy Bill,Gallon of Milk,Gas,Hamburger,Loaf of Bread,Median Home Price,Median Rent,Optometrist Visit,Phone Bill,Rx Drug,Veterinary Visit
STATES,,,,,,,,,,,,,,,
Massachusetts-Boston,$3.55,$1.91,$128.59,$149.68,$236.57 / month,$2.05,$2.89 / gallon,$4.49,$3.52,"$717,943","$2,249 / month",$140.26,$252.17 / month,$596.23,$66.81
New-York-New-York,$4.30,$2.32,$109.38,$127.32,$210.08 / month,$2.49,$3.47 / gallon,$5.43,$4.27,"$1,628,124","$5,100 / month",$119.30,$223.94 / month,$507.15,$76.07
Pennsylvania-Pittsburgh,$3.71,$2.00,$89.21,$103.85,$184.43 / month,$2.14,$2.78 / gallon,$4.68,$3.68,"$317,505",$994.61 / month,$97.31,$196.59 / month,$413.66,$50.13
Pennsylvania-Philadelphia,$3.90,$2.10,$100.53,$117.02,$208.74 / month,$2.25,$3.00 / gallon,$4.93,$3.87,"$449,365","$1,408 / month",$109.65,$222.51 / month,$466.14,$55.18
Maryland-Baltimore,$3.60,$1.94,$87.12,$101.41,$179.56 / month,$2.08,$2.69 / gallon,$4.55,$3.57,"$509,743","$1,597 / month",$95.03,$191.41 / month,$403.96,$54.40

In [9]:
for x in Northeast_data:
   Northeast_data[x] = Northeast_data[x].str.replace("$","")
   Northeast_data[x] = Northeast_data[x].str.replace("month","")
   Northeast_data[x] = Northeast_data[x].str.replace("/","")
   Northeast_data[x] = Northeast_data[x].str.replace("gallon","")
   Northeast_data[x] = Northeast_data[x].str.replace(",","")
   Northeast_data[x] = pd.to_numeric(Northeast_data[x])
Northeast_data.head()

,Bunch of Bananas,Carton of Eggs,Dentist Visit,Doctor's Visit,Energy Bill,Gallon of Milk,Gas,Hamburger,Loaf of Bread,Median Home Price,Median Rent,Optometrist Visit,Phone Bill,Rx Drug,Veterinary Visit
STATES,,,,,,,,,,,,,,,
Massachusetts-Boston,3.55,1.91,128.59,149.68,236.57,2.05,2.89,4.49,3.52,717943,2249.00,140.26,252.17,596.23,66.81
New-York-New-York,4.30,2.32,109.38,127.32,210.08,2.49,3.47,5.43,4.27,1628124,5100.00,119.30,223.94,507.15,76.07
Pennsylvania-Pittsburgh,3.71,2.00,89.21,103.85,184.43,2.14,2.78,4.68,3.68,317505,994.61,97.31,196.59,413.66,50.13
Pennsylvania-Philadelphia,3.90,2.10,100.53,117.02,208.74,2.25,3.00,4.93,3.87,449365,1408.00,109.65,222.51,466.14,55.18
Maryland-Baltimore,3.60,1.94,87.12,101.41,179.56,2.08,2.69,4.55,3.57,509743,1597.00,95.03,191.41,403.96,54.40

In [10]:
region = pd.DataFrame(Northeast_data.mean().round(2))
region_t = region.T
region_t

,Bunch of Bananas,Carton of Eggs,Dentist Visit,Doctor's Visit,Energy Bill,Gallon of Milk,Gas,Hamburger,Loaf of Bread,Median Home Price,Median Rent,Optometrist Visit,Phone Bill,Rx Drug,Veterinary Visit
0,3.81,2.05,102.97,119.86,203.88,2.2,2.97,4.82,3.78,724536.0,2269.72,112.31,217.32,477.43,60.52

In [11]:
Northeast_data['HLTH & WELL'] = Northeast_data['Dentist Visit'] + Northeast_data["Doctor's Visit"] + Northeast_data["Optometrist Visit"] + Northeast_data["Rx Drug"]
Northeast_data['EAT-IN'] = Northeast_data['Bunch of Bananas'] + Northeast_data['Carton of Eggs'] + Northeast_data['Gallon of Milk'] + Northeast_data['Loaf of Bread'] + Northeast_data['Hamburger']
Northeast_data = Northeast_data.drop(['Bunch of Bananas', 'Carton of Eggs', 'Dentist Visit', "Doctor's Visit", 'Gallon of Milk', "Hamburger", "Loaf of Bread", "Optometrist Visit", "Rx Drug"], axis=1)
Northeast_data

,Energy Bill,Gas,Median Home Price,Median Rent,Phone Bill,Veterinary Visit,HLTH & WELL,EAT-IN
STATES,,,,,,,,
Massachusetts-Boston,236.57,2.89,717943,2249.00,252.17,66.81,1014.76,15.52
New-York-New-York,210.08,3.47,1628124,5100.00,223.94,76.07,863.15,18.81
Pennsylvania-Pittsburgh,184.43,2.78,317505,994.61,196.59,50.13,704.03,16.21
Pennsylvania-Philadelphia,208.74,3.00,449365,1408.00,222.51,55.18,793.34,17.05
Maryland-Baltimore,179.56,2.69,509743,1597.00,191.41,54.40,687.52,15.74

In [12]:
Northeast_data.columns = ['ELECTRICITY', 'GAS','MORTGAGE','RENT','PHONE', 'VET', 'HLTH & WELL','EAT-IN']
Northeast_data

,ELECTRICITY,GAS,MORTGAGE,RENT,PHONE,VET,HLTH & WELL,EAT-IN
STATES,,,,,,,,
Massachusetts-Boston,236.57,2.89,717943,2249.00,252.17,66.81,1014.76,15.52
New-York-New-York,210.08,3.47,1628124,5100.00,223.94,76.07,863.15,18.81
Pennsylvania-Pittsburgh,184.43,2.78,317505,994.61,196.59,50.13,704.03,16.21
Pennsylvania-Philadelphia,208.74,3.00,449365,1408.00,222.51,55.18,793.34,17.05
Maryland-Baltimore,179.56,2.69,509743,1597.00,191.41,54.40,687.52,15.74

In [13]:
Region = "Northeast"
Northeast_data['REGION'] = [Region for _ in range(len(Northeast_data))]
Northeast_data

,ELECTRICITY,GAS,MORTGAGE,RENT,PHONE,VET,HLTH & WELL,EAT-IN,REGION
STATES,,,,,,,,,
Massachusetts-Boston,236.57,2.89,717943,2249.00,252.17,66.81,1014.76,15.52,Northeast
New-York-New-York,210.08,3.47,1628124,5100.00,223.94,76.07,863.15,18.81,Northeast
Pennsylvania-Pittsburgh,184.43,2.78,317505,994.61,196.59,50.13,704.03,16.21,Northeast
Pennsylvania-Philadelphia,208.74,3.00,449365,1408.00,222.51,55.18,793.34,17.05,Northeast
Maryland-Baltimore,179.56,2.69,509743,1597.00,191.41,54.40,687.52,15.74,Northeast

In [15]:
Northeast_data = Northeast_data[['MORTGAGE', 'RENT', 'ELECTRICITY','GAS', 'EAT-IN','PHONE','HLTH & WELL', 'VET', 'REGION']]
Northeast_data.reset_index()

,STATES,MORTGAGE,RENT,ELECTRICITY,GAS,EAT-IN,PHONE,HLTH & WELL,VET,REGION
0,Massachusetts-Boston,717943,2249.00,236.57,2.89,15.52,252.17,1014.76,66.81,Northeast
1,New-York-New-York,1628124,5100.00,210.08,3.47,18.81,223.94,863.15,76.07,Northeast
2,Pennsylvania-Pittsburgh,317505,994.61,184.43,2.78,16.21,196.59,704.03,50.13,Northeast
3,Pennsylvania-Philadelphia,449365,1408.00,208.74,3.00,17.05,222.51,793.34,55.18,Northeast
4,Maryland-Baltimore,509743,1597.00,179.56,2.69,15.74,191.41,687.52,54.40,Northeast

In [17]:
Northeast_data.to_csv("Northeast.csv")